* { 
    background-color: rgb(31, 31, 31); /* Dark mode */
    color: rgb(206, 206, 206);
} 


.dimensionbutton {
    margin: 30px;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
}

#rows {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.square {
    float: left;
    background-color: white;
    margin: 1px;
    flex: 1;
}

